@import "tailwindcss";
@import "@fontsource/rajdhani";
@import "@fontsource/orbitron";
@import "augmented-ui/augmented-ui.min.css";

/*Global Variables for better design language*/
:root {
    /*Global Colors*/
    --bg: linear-gradient(to bottom, #000000, #0E001B);
    --grid: #13003F;
    --scanlines: rgba(168, 85, 247, 0.10);
    --primary: #8B3DFF;
    --secondary: #FFE600;
    --danger: #ff3b5c;
    --text: #F4EEFF;


    /*Global Fonts*/
    --font-heading: "Orbitron", sans-serif;
    --font-main: "Rajdhani", sans-serif;


    /*Global Font Sizes*/
    /* set min/max to your current mobile and 2xl values */
    --font-size-heading: clamp(3.5rem, 1.5rem + 4.5vw, 7rem);
    --font-size-subheading: clamp(2rem, 1rem + 1.5vw, 3rem);
    --font-size-nav: 1.25rem;
    --font-size-main: 1rem;
}

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none !important;
        -ms-overflow-style: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

/*Main body of the website*/
body {
    background-image: var(--bg);
    color: var(--text);
    font-family: var(--font-main);
    font-size: var(--font-size-main);
}


/*We create a pseudo-element to simulate a grid background by creating two repeating linear gradients, one vertical and one horizontal*/
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image:
        linear-gradient(var(--grid), transparent 1px),
        linear-gradient(90deg, var(--grid), transparent 1px);

    background-size: 60px 60px;

    pointer-events: none;
    z-index: -1;
}